<ul class="layui-nav layui-bg-blue  ">
    <!--<li class="layui-nav-item" style="position: relative;left: 11%;"><a href="">这是一个普通的导航</a></li>-->
    <!--<li class="layui-nav-item" style="position: relative;left: 80%;">-->
    <!--<a href="">个人中心<span class="layui-badge-dot"></span></a>-->
    <!--</li>-->
    <li class="layui-nav-item" style="position: relative;left: 80%;">
        <a href=""><img src="http://t.cn/RCzsdCq" class="layui-nav-img"/>我</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">我的主页</a></dd>
            <dd><a href="javascript:;">设置</a></dd>
            <dd><a href="javascript:;">帮助与反馈</a></dd>
            <dd><a href="javascript:;">溜了溜了</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">配置管理</a>
        <dl class="layui-nav-child">
            <dd><a href="">移动模块</a></dd>
            <dd><a href="">后台模版</a></dd>
            <dd><a href="">电商平台</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">社区</a></li>
    <!--<li class="layui-nav-item">-->
        <!--<div class="search bar7">-->
            <!--<form>-->
                <!--<input type="text" placeholder="搜索从这里开始..." name="crid"/>-->
                <!--<button type="submit"><img style="width: 16px" src="/blog/static/img/search-icon.png"/></button>-->
            <!--</form>-->
        <!--</div>-->
    <!--</li>-->
</ul>
<ul class="layui-nav layui-nav-tree layui-bg-blue" lay-filter="test">
    <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
    <li class="layui-nav-item layui-nav-itemed">
        <a href="javascript:;">默认展开</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">选项1</a></dd>
            <dd><a href="javascript:;">选项2</a></dd>
            <dd><a href="">跳转</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">解决方案</a>
        <dl class="layui-nav-child">
            <dd><a href="">移动模块</a></dd>
            <dd><a href="">后台模版</a></dd>
            <dd><a href="">电商平台</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">产品</a></li>
    <li class="layui-nav-item"><a href="">大数据</a></li>
</ul>